*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background-color: #000;
    background-image: url(img/bg-img.jpg);
    background-size: cover;
    background-position: center;
}
li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

li a:hover{
    color: rgb(96, 154, 219);
    transition: 0.4s ease-in;
}

header{
    position: relative;
    padding: 0 2rem;
}

.nav-bar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 20%;
    height: 70px;
    padding-top: 10px;
    cursor: pointer;
}

.nav-bar .links{
    display: flex;
    gap: 2rem;
}

.nav-bar .toggle-btn{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn{
    background-color: rgb(96, 154, 219);
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-btn:hover{
    background-color: #fff;
    color: rgb(96, 154, 219);
    transition: 0.2s ease-in;
    scale: 1.05;
}
.action-btn:active{
    scale: 0.95;
}
/*DROPDOWN MENU*/
.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
    height: 240px;
}
.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

section#home{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
#home h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

/*RESPONSIVIDADE*/
@media(max-width:992px){
    .nav-bar .links,
    .nav-bar .action-btn{
        display: none;
    }
    .nav-bar .toggle-btn, .logo{
        display: block;
    }
    .dropdown-menu, .logo{
        display: block;
    }
}

@media(max-width:576px){
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }
    .logo{
        display: none;
    }
}
